.books-header__container {
    margin: 0 auto;
    padding: 50px;
  
    height: 300px;
    min-width: 400px; 
    max-width: 100%;
  
    color: #ffffff;
    background-image: url("../../assets/background.jpg");
}
  
.books-header__heading {
    text-align: center;
  
    margin: 0;
    margin-bottom: 20px;
}